NEXTAUTH_URL_INTERNAL=""
NEXTAUTH_URL=""
NEXT_PUBLIC_SERVER_URL=""
NEXT_PUBLIC_APP_NAME=""
NEXT_PUBLIC_APP_DESCRIPTION=""
DATABASE_URL=""
LATEST_PRODUCTS_LIMIT=""
AUTH_SECRET=""
PAYPAL_API_URL=""
PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""
